<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.kt.{{ cookiecutter.package_name }}.common.model"/>
    </typeAliases>
    <mappers>
        <package name="com.kt.{{ cookiecutter.package_name }}.sampleUser.repository"/>
    </mappers>
</configuration> 