<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kt.{{ cookiecutter.package_name }}.sampleUser.repository.UserRepository">
    <resultMap id="userResultMap" type="com.kt.{{ cookiecutter.package_name }}.sampleUser.model.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
    </resultMap>

    <select id="findAll" resultMap="userResultMap">
        SELECT id, username, email FROM users
    </select>

    <select id="findById" resultMap="userResultMap">
        SELECT id, username, email FROM users WHERE id = #{id}
    </select>
</mapper> 